@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;500;600&display=swap");
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}
input {
  width: 100%;
  border: 2px solid grey;
  padding: 10px 15px;
  border-radius: 25px;
}
.header {
  font-size: 40px;
  color: rgb(99, 97, 97);
}
.search-bar {
  position: relative;
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.search-suggestion {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  padding: 20px;
  background-color: rgb(170, 167, 167);
  max-height: 250px;
  overflow-y: scroll;
}
.description {
  flex: 1;
  width: 75%;
  padding: 20px;
  font-size: large;
  color: grey;
  text-align: center;
  line-height: 30px;
}
.footer {
  flex: 1;
}
a {
  margin: 0px 20px;
  font-size: large;
  font-weight: bold;
}
